body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-header {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding-left: 10px;

}

.restart-button-yes {
  border: 5px solid #ffffff;

  background: #168a4e;
  color: #fff;
  float: left;
  font-size: 10px;
  padding: 10%;

}
.restart-button-no {
  border: 5px solid #ffffff;
  color: #fff;
  background: #90343a;
  float: left;
  font-size: 10px;
  padding: 10%;

}